<div class="inicio__container">
    <div *ngIf=!iniciado class="inicio__input">
        <form>
            <label>Quantidade de MP</label>
            <input value=0 type="number" id="qtdMP" #qtdMP>
            <button id="start" type="submit" (click)="mpParaMod(qtdMP.value)">Iniciar</button> 
        </form>
    </div>
    <div *ngIf=iniciado class="inicio__options">
        <button id="reset" type="button" (click)="reset()">Resetar</button>
        <header><h1>Selecione a próxima magia</h1></header>
        <div class="magia__main"><ng-container *ngFor="let magia of magias">
            <app-magias *ngIf="(elementoAtual.includes(magia.elemento) || isFirst) && modAtual == magia.mod"
                [nome]="magia.nome"
                [nivel]="magia.nivel.join(', ')"
                [elemento]="magia.elemento"
                [img]="magia.img"
                (click)="playerChoice(magia.proxElem, magia.proxMod)"></app-magias>
            </ng-container>
        </div>
    </div>
</div>